<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <h1>Bora fi</h1>
        <form action="/predict" method="post">
            <p>Largura Petala <input type="text" name="larg_petala" id="" value="0.13"></p>
            <p>Comprimento Petal <input type="text" name="comp_petala" id="" value="0.41"></p>
            <p>Largura Sepala <input type="text" name="larg_sep" id="" value="0.24"></p>
            <p>Comprimento da Sepala <input type="text" name="comp_sep" id="" value="0.57"></p>
            <p><input type="submit" value="Enviar"></p>
        </form>
    </div>
</body>

</html>